.aside {
  width: 50px;
  margin: auto;
  position: fixed;
  right: 2rem;
  top: 0;
  padding-top: 30px;
}

.aside__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
}

.aside__item {
  list-style: none;
  margin: 0;
}