.bg-blue {
  background-color: var(--blue-500);

  &:hover {
    background-color: var(--blue-600);
  }
}

.bg-green {
  background-color: var(--green-500);

  &:hover {
    background-color: var(--green-600);
  }
}

.bg-red {
  background-color: var(--red-warn500);

  &:hover {
    background-color: var(--red-warn600);
  }
}

.bg-yellow {
  background-color: var(--yellow-500);

  &:hover {
    background-color: var(--yellow-600);
  }
}

.bg-orange {
  background-color: var(--orange-500);

  &:hover {
    background-color: var(--orange-600);
  }
}

.bg-turkis {
  background-color: var(--turkis-500);

  &:hover {
    background-color: var(--turkis-600);
  }
}
