$green-200: #d2e5c4;
$green-500: #90be6d;
$green-600: #739857;
$yellow-200: #fce8b8;
$yellow-500: #f9c74f;
$yellow-600: #c79f3f;
$orange-200: #fac6ab;
$orange-500: #f3722c;
$orange-600: #c35b23;
$red-200: #fcb3b4;
$red-500: #f94144;
$red-600: #c73436;
$turkis-200: #b4ddd0;
$turkis-500: #43aa8b;
$turkis-600: #36886f;
$blue-200: #bcc8d2;
$blue-500: #577590;
$blue-600: #465e73;
$black: #000000;
$white: #ffffff;

$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';

