@import "normalize";
@import "vars";
@import "mixins";
@import "colors";
@import "fonts";
@import "font-awesome";
@import "footer";
@import "header";
@import "layout";
@import "modal";
@import "notes";
@import "buttons";
@import "form";
@import "pills";
@import "notifications";
@import "backlog";
@import "sort";

.actions {
  position: absolute;
  right: -180px;
}

.label {
  width: 50px;
}

.actions {
  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}