<aside class="aside">
    <nav>
        <ul class="aside__list">
            <li class="aside__item">
                <button class="button button--round bg-blue js-modal--filter"><i class="fas fa-filter"></i></button>
            </li>
            <li class="aside__item">
                <button class="button button--round bg-turkis js-modal--add"><i class="fas fa-plus"></i></button>
            </li>
            <li class="aside__item">
                <button class="button button--round bg-red"><i class="fas fa-user"></i></button>
            </li>
        </ul>
    </nav>
</aside>