<section class="backlog">
    <div>
        <h2>Open</h2>
        <section class="notes">
            <ol class="notes-list">
                {{#each notes as | note |}}
                    {{> note note}}
                {{/each}}
            </ol>
        </section>
    </div>
    <div>
        <h2>Todo</h2>
        <section class="notes">
            <ol class="notes-list">
                {{#each notes as | note |}}
                    {{> note note}}
                {{/each}}
            </ol>
        </section>
    </div>
    <div>
        <h2>In Progress</h2>
        <section class="notes">
            <ol class="notes-list">
                {{#each notes as | note |}}
                    {{> note note}}
                {{/each}}
            </ol>
        </section>
    </div>
    <div>
        <h2>Done</h2>
        <section class="notes">
            <ol class="notes-list">
                {{#each notes as | note |}}
                    {{> note note}}
                {{/each}}
            </ol>
        </section>
    </div>
</section>