<!-- views/partials/filter.hbs-->
<form>
    <nav class="pills">
        <p>Categories</p>
        <ul>
            <li>
                <button class="bg-blue">School</button>
            </li>
            <li>
                <button class="bg-turkis">Work</button>
            </li>
            <li>
                <button class="bg-turkis">No Categorie</button>
            </li>
        </ul>
    </nav>
</form>