<!-- views/partials/filter.hbs-->
<form id="form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" placeholder="Feed the cat" value="\{{title}}"/>
    </div>
    <div class="form-group">
        <label for="note">Note</label>
        <textarea id="note" placeholder="Don't forget the water">\{{note}}</textarea>
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <select id="state">
            <option value="0">Todo</option>
            <option value="1">In Progress</option>
            <option value="2">Done</option>
        </select>
    </div>
    <div class="form-group">
        <label for="categories">Categories</label>
        <select id="categories">
            <option value="0">School</option>
            <option value="1">Work</option>
            <option value="2">No Categorie</option>
        </select>
    </div>
    <input type="hidden" name="id" value="\{{id}}">
    <div class="form-actions buttons">
        <button class="button round bg-red" id="" onclick="noteDelete()">
            <i class="far fa-trash-alt"></i>
            <span class="sr-only">Delete Note</span>
        </button>
        <button class="button round bg-green" onclick="noteSave()">
            <i class="far fa-save"></i>
            <span class="sr-only">Save Note</span>
        </button>
        <button class="button round bg-green" onclick="noteAdd()">
            <i class="fas fa-plus"></i>
            <span class="sr-only">Add Note</span>
        </button>
    </div>
</form>