<!-- views/partials/header.ejs -->
<header>
    <div class="left">
        <h1>Todo List</h1>
    </div>
    <div class="right">
        <nav class="actions">
            <ul>
                <li>
                    <button class="bg-blue" onclick="showModal('filter')"><i class="fas fa-filter"></i></button>
                </li>
                <li>
                    <button class="bg-turkis" onclick="showModal('add')"><i class="fas fa-plus"></i></button>
                </li>
            </ul>
        </nav>
    </div>
</header>