<!-- views/partials/header.hbs-->
<header>
    <div class="left">
        <h1>Todo List</h1>
    </div>
    <div class="right">
        <nav class="actions">
            <ul>
                <li>
                    <button class="bg-blue" onclick="modalShow('Filter', 'filter')"><i class="fas fa-filter"></i></button>
                </li>
                <li>
                    <button class="bg-turkis" onclick="modalShow('Add', 'form')"><i class="fas fa-plus"></i></button>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>