<!-- views/partials/modal.hbs-->
<div class="modal">
    <div class="modal-conten modal-content-edit">
        <button class="modal-close" onclick="closeModal()">
            <i class="fas fa-times"></i>
            <span class="sr-only">Close Notification</span>
        </button>
        <h1>Edit</h1>
        {{> form}}
    </div>
    <div class="modal-conten modal-content-add">
        <button class="modal-close" onclick="closeModal()">
            <i class="fas fa-times"></i>
            <span class="sr-only">Close Notification</span>
        </button>
    </div>
    <div class="modal-conten modal-content-filter">
        <button class="modal-close" onclick="closeModal()">
            <i class="fas fa-times"></i>
            <span class="sr-only">Close Notification</span>
        </button>
        <h1>Filter</h1>
        {{> filter}}
    </div>
</div>