<div class="modal__content">
    <h1>
        {{#if title}}
            {{title}}
        {{else}}
            \{{title}}
        {{/if}}
    </h1>
    <div class="modal__template"></div>
    <button class="modal__close" onclick="modalClose()">
        <i class="fas fa-times"></i>
        <span class="sr-only">Close Notification</span>
    </button>
</div>