<!-- views/partials/notifications.ejs -->
<section class="notifications">
    <ul class="notifications-list">
        <% for(var i = 0; i < notifications.length; i++) {%>
            <li class="notification t-sm">
                <div class="notification-content">
                    <b><%= notifications[i].title %></b>
                    <p><%= notifications[i].content %></p>
                </div>
                <button class="notification-close" onclick="closeNotification()">
                    <i class="fas fa-times"></i>
                    <span class="sr-only">Close Notification</span>
                </button>
            </li>
        <% } %>
    </ul>
</section>