<!-- views/partials/scripts.hbs-->
<script src="js/socket.io.js"></script>
<script src="js/handlebars.js"></script>
<script src="js/main.js"></script>
<script src="js/notifications.js"></script>
</body>
</html>