<!-- views/partials/scripts.hbs-->
<script src="js/vendor/socket.io.js"></script>
<script src="js/vendor/handlebars.js"></script>

<script src="js//bootstrapper.js" type="module" defer></script>
</body>
</html>