<div class="sort">
    <select name="sort" id="sort" onchange="listSort()">
        <option value="">Due Date</option>
        <option value="">Newest</option>
        <option value="">Oldest</option>
        <option value="">Urgency</option>
        <option value="">Created</option>
    </select>
</div>