<div class="sort">
    <select class="sort__select" name="sort" id="sort" onchange="listSort()">
        <option value="due">Due Date</option>
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
        <option value="importance">Importance</option>
        <option value="created">Created</option>
    </select>
</div>