<!-- views/partials/templates.hbs-->
<div id="templates">
    <template id="templates__notification">
        {{> notification}}
    </template>
    <template id="templates__note">
        {{> note}}
    </template>
    <template id="templates__modalcontent">
        {{> modalcontent}}
    </template>
    <template id="templates__form">
        {{> form}}
    </template>
    <template id="templates__filter">
        {{> filter}}
    </template>
</div>