<!-- views/partials/templates.hbs-->
<div id="templates">
    <template id="notification">
        {{> notification}}
    </template>
    <template id="note">
        {{> note}}
    </template>
    <template id="modalcontent">
        {{> modalcontent}}
    </template>
    <template id="form">
        {{> form}}
    </template>
    <template id="filter">
        {{> filter}}
    </template>
</div>