button {
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  color: var(--white);
  text-align: center;

  i {
    pointer-events: none;
  }
}

.button--round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  transition: all 0.3s;
  margin-left: 0.5rem;
  cursor: pointer;
  color: #fff;

  &:last-of-type {
    margin-right: 0;
  }
}
