.bg-blue {
  background-color: var(--blue-500);

  &:hover {
    background-color: var(--blue-600);
  }
}

.bg-success {
  background-color: var(--success-500);

  &:hover {
    background-color: var(--success-600);
  }
}

.bg-error {
  background-color: var(--error-500);

  &:hover {
    background-color: var(--error-600);
  }
}

.bg-info {
  background-color: var(--danger-500);

  &:hover {
    background-color: var(--danger-600);
  }
}

.bg-warn {
  background-color: var(--warn-500);

  &:hover {
    background-color: var(--warn-600);
  }
}
