form {
  position: relative;
  padding: 0 0 50px 0;
}

fieldset {
  border: none;
  margin-top: 2rem;
  padding: 0;
}

select {
  height: 40px;
}

legend {
  margin-bottom: 0.5rem;
}

textarea {
  resize: vertical;
  min-height: 250px;
}

input,
select,
textarea {
  width: 100%;
  padding: 5px;
  color: #333;
  font-family: "Muli Regular";
  color: black;
}

.form__group {
  margin-bottom: 1rem;
  display: flex;
  @media screen and (max-width: $md) {
    flex-wrap: wrap;
  }

  label {
    width: 150px;

    @media screen and (max-width: $md) {
      width: 100%;
    }
  }
}

.form__actions {
  display: flex;
  justify-content: flex-end;
  grid-auto-flow: column;
  margin-top: 2rem;
}
