header {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  padding: 30px;
  background-color: var(--white);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;

  .left {
    background: red;
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
  }

  nav {
    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-left: 1rem;
        @media screen and (max-width: $md) {
          margin-left: 0.75rem;
        }
      }
    }
  }
}

.logo {
  img {
    width: auto;
    display: block;
    height: 40px;
  }
}
