* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  min-width: 320px;
}

main {
  min-height: calc(100vh - 90px);
  padding-top: 120px;
  max-width: 90%;
  margin: auto;

  @include media($md) {
    max-width: 1200px;
  }
}

* {
  //grid
}

.hidden {
  display: none;
}
