.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.75);
  display: none;
  z-index: 1;

  &.modal--open {
    display: flex;
  }

  h1 {
    margin-top: 0;
  }
}

.modal__content {
  max-width: 750px;
  height: 90vh;
  margin: auto;
  background-color: var(--white);
  padding: 2rem;
  width: 90%;
  display: block;
  position: relative;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.6rem;
  color: var(--black);
  background-color: transparent;
}

.has-open-modal {
  overflow: hidden;
}
