$sm: "640px";
$md: "768px";
$lg: "1024px";
$xl: "1280px";

:root {
  --success-400: #d2e5c4;
  --success-500: #90be6d;
  --success-600: #739857;
  --danger-400: #fce8b8;
  --danger-500: #f9c74f;
  --danger-600: #c79f3f;
  --warn-400: #fac6ab;
  --warn-500: #f3722c;
  --warn-600: #c35b23;
  --error-400: #fcb3b4;
  --error-500: #f94144;
  --error-600: #c73436;
  --blue-400: #bcc8d2;
  --blue-500: #577590;
  --blue-600: #465e73;
  --black: #000000;
  --white: #ffffff;
  --bg: #efefef;
  --font-color: #222;
}

.theme-dark {
  --blue-400: #bcc8d2;
  --blue-500: #43aa8b;
  --blue-600: #36886f;
  --black: #000000;
  --white: #818cab;
  --bg: #161625;
  --font-color: #fff;
}
