@import "normalize";
@import "vars";
@import "mixins";
@import "colors";
@import "fonts";
@import "font-awesome";
@import "footer";
@import "aside";
@import "header";
@import "layout";
@import "modal";
@import "notes";
@import "buttons";
@import "form";
@import "pills";
@import "notifications";
@import "backlog";
@import "sort";
@import "logo";

.actions {
  position: absolute;
  right: -180px;
}

.label {
  width: 50px;
}
